<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address1 %>
</p>

<p>
  <%= @user.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>
<p>
  <strong>Pincode:</strong>
  <%= @user.pincode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Preference:</strong>
  <%= @user.preference %>
</p>

<p>
  <strong>Home Phone:</strong>
  <%= number_to_phone(@user.home_phone, area_code: true)%>
</p>
<p>
  <strong>Cell Phone:</strong>
  <%= number_to_phone(@user.cell_phone, area_code: true) %>
</p> -->
<!-- <p>
  <strong>Birth Date:</strong>
  <%= @user.birth_date %>
</p> -->