<H1>Remaining Budget Balance</H1>
<div id="budget_balance"><strong><%= humanized_money_with_symbol @balance %></strong></div>
<br>

<%= link_to 'Show All Accounts', user_accounts_path(current_user) %>
<%= link_to 'Show All Budgets', user_budgets_path(current_user) %>

<%= link_to 'Show All Categories', categories_path %>

<%= link_to 'Enter Expense Transactions', new_user_expense_path(current_user) %>

<%= link_to 'Expense Reports', '/users/reports' %>
