<h1>Listing All Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category %></td>
        <td><%= category.description %></td>
        <td><%= link_to 'Show', category %></td>

        <% if can? :update, category %>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show All Vendors', category_vendors_path(category) %></td>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @categories, class: "button small round"  %>
  <%= link_to 'New category', new_category_path, class: "button small round"  %>
  <%= link_to 'Back', current_user, class: "button small round"  %>
<% end %>